#main-features tr th {
  width: 35%;
  border: 1px solid rgb(222, 226, 230);
}

#main-features tr td {
  border: 1px solid rgb(222, 226, 230);
  width: 65%;
}

#product-details {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #product_container,
  #detail_info,
  #search-container {
    width: 90% !important;
  }
}
