.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  background-color: rgb(253, 255, 253);
  display: flex;
  justify-content: center;
}
.single {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}
/* .spinner {
  /* display: flex;
  justify-content: center; */
} */
